{{ define "page" }}
<div class="post">
  <div class="title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </div>
  <div class="meta">{{ time.Format "2006.01.02" .Date }}</div>

  <article>
    {{ if not .Params.hidden }}
    {{ .Content }}
    {{ end }}
  </article>

  <div class="end">
    {{ with .PrevInSection }}
    <div class="next">
      <div class="tag">🌗 旧篇</div>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}

    {{ with .NextInSection }}
    <div class="next">
      <div class="tag">新篇 🌓</div>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ end }}
  </div>

  <!-- {{ template "_internal/disqus.html" . }} -->
</div>
{{ end }}